__pycache__/
*.pyc
.env
cookies.txt
cookies_us.txt
cookies_br.txt
cookies_eg.txt
cookies_*.txt
build_exe.bat
*.spec
*.TEMP_MPY_wvf_snd
audios/
videos/
imagens/
cache/
audio_tts/
venv/
whisper_models/
dist/
build/